# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.moved-aside
*.xcworkspace/xcuserdata/

# Swift Package Manager
.swiftpm/
.build/

# Archives
*.xcarchive

# Secrets
.env
.env.local
